@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}


body{
  font-family: sans-serif;
  background: #222 url("http://25.media.tumblr.com/a408ad9af259cf827ed4599d60bcb0a9/tumblr_myebwtELvb1st5lhmo1_1280.jpg") no-repeat fixed center;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn,
  &.noscript .toggle-btn{
    display: none;
  }
}

header {
  padding: 0 1em;
  position: relative;
  color: $title-text-color;
  font-family: sans-serif;
  font-size: 30px;
}

.toggle-btn{
  position: absolute;
  right: 1em;
  top: 0;
}

.navigation ul{
  @include zero;
  li{
    list-style-type: none;
    border-bottom: 1px solid $light-grey;
    a{
      display: block;
      padding: .5em 1em;
      text-align: center;

      text-decoration: none;
    }
    &:hover {
      background-color: #eee;
      opacity: 0.5;
    }
  }
}

.toggle-btn,
.close-btn{
  margin-top: 25px;
  color: $title-text-color;
  height: 80px;
  width: 80px;
  i{
    padding: .5em;
  }
  span{
    @include hide-text;
  }
}

// Sliding media Navigation

@media only screen and (max-width: 40em){
// Page should move when nav opens
// Only time we will never use max-width
  .site-wrapper{
    position:relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    .sliding-canvas{
      width: 100%;
      height: 100%;
      position: relative;
      transition: translateX(0);
      @include ease(all, 300ms, ease-in-out);
    } // .sliding-canvas
    &[data-state="slide-open"] .sliding-canvas{
        transform: translateX(-100%);
        overflow: visible; // Allows nav to be grater than the page height when open
      }//
       &[data-state="slide-open"]{
        overflow: visible;
       }
  }// .site-wrapper



// Navigation Styles
 .slide-menu{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  min-height: 600px;
  }

}// @media
@media only screen and (min-width: 45em){
  .toggle-btn,
  .close-btn{
    display: none;
  }
  .slide-menu{
    display: block;
  }
}

@media only screen and (min-width: 60em){
  .toggle-btn,
  .close-btn{
    display: none;
  }
  .slide-menu{
    display: inline-block;
    background: $background-left-nav;
    padding-bottom: 600px;
  }
}







